.map-page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.map-title {
  text-align: center;
  margin-top: 10px;
}

.search-bar {
  text-align: center;
  padding: 10px;
}

.search-bar input {
  width: 250px;
  padding: 6px;
  margin-right: 10px;
}

.search-bar button {
  padding: 6px 12px;
  cursor: pointer;
}
